@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p {
  grid-auto-rows: 0.5fr fit-content(max-content) fit-content(max-content) 0.3fr fit-content(max-content) fit-content(max-content) 0.3fr
    fit-content(max-content) fit-content(max-content) 0.3fr;
}
