@page "/lesson-plan"
@rendermode InteractiveAuto

@using TeachPlanner.Blazor.Client.Common
@using TeachPlanner.Blazor.Client.Common.Interfaces
@using TeachPlanner.Shared.Contracts.Curriculum

<section class="lesson-plan-container">
    <div class="lesson-plan-header-bar">
        <p class="subject-name bg-@(Helpers.CreateCssClass(SelectedSubject))">
            <span>Subject: </span>
            <select class="subject-select bg-@(Helpers.CreateCssClass(SelectedSubject))" @onchange="OnSubjectSelectionChange">
                @foreach (var subject in Subjects) {
                    <option value="@subject.Name">@subject.Name</option>
                }
            </select>
        </p>
@*         <p class="header-paragraph">Start Time: @(Helpers.GetTimeFromString(LessonPlan.StartTime))</p>
 *@    </div>
</section>

